input{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 115%;
    margin: 5px 0;
}
button{
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    background-color: transparent;
    display: block;
}