<h2>Chevere Component</h2>
<input placeholder="Nombre estudiante" autofocus="" [(ngModel)]="newEst.nombre" (keyup.enter)="addEstudiante()">
<input placeholder="Semestre" [(ngModel)]="newEst.semestre">

<button (click)="printNombre()">Ver Nombre</button>
<button (click)="addEstudiante()">Add</button>

<h4>
  Lista de Estudiantes
</h4>

<ul>
  <li *ngFor="let estudiante of estudianteDataService.estudiantes">{{estudiante.nombre}} - {{estudiante.semestre}}</li> 

</ul>
